node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

build
.cache
.vite
coverage
*.tsbuildinfo
.eslintcache
.prettierrc
changelog.md
README.md
LICENSE.txt
.git
.gitignore
*.md
dist

.pnpm-store/
